<h1>Productos</h1>

<main>

	<form id="formProduct">
		<label for='title'>Titulo</label>
		<input type='text' name='title' required />

		<label for='description'>Descripcion</label>
		<input type='text' name='description' required />

		<label for='price'>Precio</label>
		<input type='number' name='price' required />

		<label for='status'>Status</label>
		<input type='text' name='status' required />

		<label for='code'>Código</label>
		<input type='text' name='code' required />

		<label for='stock'>Stock</label>
		<input type='number' name='stock' required />

		<button type='submit'>Agregar Producto</button>
	</form>

	<div></div>
</main>